.App {
  position: relative;
  min-height: 100vh;
}

.Toastify__toast-theme--colored.Toastify__toast--success {
  color:#0571e0;
  background-color: white;
}


.Toastify__progress-bar-theme--colored.Toastify__progress-bar--success{
  background-color: #0571e0;
}