// box shadows
$soft-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
$primary-shadow: rgba(0, 0, 0, 0.40) 0px 3px 8px;
$sharp-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

// primary btn colors
$blue-btn: #0571e0;
$red-btn: #f21c1c;
$black-btn : #000;

// primary link colors
$danger-red: #dc0000;
$success-green: #21dc00;

// primary colors
$black:#000;
$blue:#0571e0;
$light-grey: #dadada;
$very-light-grey: #f4f4f4;
